#cloud-config
# Ag machine first boot: user, base packages, persistent volume (brain), Tailscale, dotfiles.
# The Linux side of dotfiles `bootstrap` (herdr, pi, bun, services) runs from here once it exists.
hostname: ${hostname}
users:
  - name: ${user}
    shell: /bin/bash
    groups: [sudo, docker]
    sudo: "ALL=(ALL) NOPASSWD:ALL"
    ssh_authorized_keys:
      - ${ssh_public_key}
ssh_pwauth: false
disable_root: true
package_update: true
packages: [git, curl, jq, unzip, zsh, stow, ripgrep, fd-find, build-essential, docker.io, ca-certificates]
write_files:
  - path: /etc/ag-role
    content: "${role}\n"
runcmd:
%{ if volume_device != "" ~}
  - mkdir -p /data
  - echo '${volume_device} /data ext4 discard,nofail,defaults 0 0' >> /etc/fstab
  - mount /data
  # Bind-mount (not symlink) the persistent dirs so stow sees real directories inside them.
  - install -d -o ${user} -g ${user} /data/pi /data/inbox /data/state /home/${user}/.pi /home/${user}/inbox /home/${user}/.local /home/${user}/.local/state
  - printf '%s\n' '/data/pi /home/${user}/.pi none bind,nofail 0 0' '/data/inbox /home/${user}/inbox none bind,nofail 0 0' '/data/state /home/${user}/.local/state none bind,nofail 0 0' >> /etc/fstab
  - mount -a
%{ endif ~}
  - curl -fsSL https://tailscale.com/install.sh | sh
  - tailscale up --auth-key='${ts_auth_key}' --hostname=${hostname} --ssh --advertise-tags=${ts_tags}
  - sudo -u ${user} git clone ${dotfiles_repo} /home/${user}/dotfiles
  - "[ -x /home/${user}/dotfiles/bootstrap-linux ] && sudo -u ${user} -H /home/${user}/dotfiles/bootstrap-linux || true"
